#root {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  max-width: 1920px;
  margin: auto;
}

.app {
  display: flex;
  height: 100vh;
}

input, textarea {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.sidebar,
.settings-bar,
.settings-bar-closed {
  background-color: #f7f8f9;
  height: 100vh;
  flex: 0 0 300px;
  transition: margin 0.3s;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar,
.settings-bar::-webkit-scrollbar,
.settings-bar-closed::-webkit-scrollbar {
  width: 0;
}

.settings-bar-closed {
  margin: 0 -300px 0 0;
}

.sidebar-inner {
  padding: 20px;
}

.settings-bar-inner {
  padding: 30px;
}

.search-contact {
  height: 40px;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 35px;
  box-shadow: 0 0 5px 0 #e7eaed;
  color: rgb(118, 118, 118);
}

.search-contact-icon {
  position: absolute;
  top: 30px;
  left: 35px;
  font-size: 10px;
  color: rgb(118, 118, 118);
}

.chats-item,
.chats-item-opened {
  padding: 20px;
  margin: 3px;
  display: flex;
  background-color: #f7f8f9;
  justify-content: space-between;
}

.chats-item:hover,
.chats-item-opened {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 #e7eaed;
}

.chats-item:active {
  box-shadow: 0 0 5px 0 #e7eaed;
}

.chats-item-opened {
  box-shadow: 0 0 5px 0 #e7eaed;
}

.avatar,
.message-from-avatar,
.contact-info-avatar,
.media-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  background: linear-gradient(#b3ebf8, #709ee8);
  text-align: center;
  line-height: 36px;
  box-shadow: 0 5px 5px 0 #e7eaed;
}

.message-from-avatar {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-right: 13px;
  font-size: 13px;
  line-height: 30px;
}

.contact-info-avatar {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 70px;
  font-size: 23px;
}

.last-message {
  font-size: 13px;
  font-weight: 300;
  color: #7a7b7b;
  flex: 2;
}

.recent-chats-time {
  font-size: 12px;
  color: #7a7b7b;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30px;
}

.recent-chat-skeleton {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.recent-chat-skeleton-circles {
  flex: 0 50px;
  margin-right: 10px;
}

.recent-chat-skeleton-lines {
  flex: 1;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 0.5px solid #e7eaed;
}

.chat-header button {
  color: #a4b5cc;
}

.chat-header-name {
  display: flex;
  align-items: center;
}

.online-indicator-header, .online-indicator-contact {
  background-color: #55C662;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

.online-indicator-contact {
  position: absolute;
  left: 60px;
  height: 6px;
  width: 6px;
}

.chat-window {
  flex: 3;
  height: 100vh;
}

.chat-window-inner {
  padding: 0 40px;
  min-width: 270px;
}

.chat {
  overflow-y: scroll;
  height: calc(100vh - 50px - 66px);
}

.chat::-webkit-scrollbar {
  width: 0;
}

.chat-inner {
  padding: 20px 0;
}

.message-search-closed,
.message-search-opened {
  position: absolute;
  top: 15px;
  left: 375px;
  width: 0;
  box-shadow: 0 0 5px 0 #e7eaed;
  transition: 0.5s;
  padding: 0;
}

.message-search-opened {
  width: 200px;
}

.info-message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.info-message-text {
  background-color: #f7f8f9;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
}

.message-from {
  display: flex;
  margin-bottom: 15px;
}

.message-to {
  display: flex;
  justify-content: flex-end;
}

.message-from-text,
.message-to-inner {
  background-color: #ecf7f7;
  padding: 13px;
  max-width: 50%;
  border-radius: 13px 13px 13px 0;
}

.message-to-inner {
  color: white;
  background-color: #632df8;
  border-radius: 13px 13px 0 13px;
  margin-bottom: 15px;
}

.message-input {
  border-top: 1px solid #e7eaed;
  display: flex;
}

.message-textarea {
  padding: 25px 0;
  width: 90%;
  color: rgb(118, 118, 118);
}

.message-input button {
  padding: 0 15px;
  font-size: 20px;
  color: #a7b8ce;
}

.contact-info {
  padding: 20px 35px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact-info button {
  color: #a7b8ce;
  margin: 10px;
}

.social,
.media {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 #e7eaed;
  padding: 10px 20px;
  margin: 10px 0 40px 0;
}

.social-icon {
  color: #a7b8ce;
  width: 30px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.social-item {
  padding: 10px 10px 10px 0;
  display: flex;
  font-size: 14px;
  align-items: center;
}

.media {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}

.media-avatar {
  border-radius: 5px;
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  background-color: white;
  padding: 7px 0;
  box-shadow: 0 5px 5px 0 #e7eaed;
  text-align: left;
}

.dropdown-item {
  padding: 8px 15px;
  font-size: 17px;
  color: #7a7b7b;
  font-weight: 300;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dots {
  font-size: 22px;
  color: #7a7b7b;
}

.dots:hover {
  color: #e7eaed;
}
