#root {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  max-width: 1920px;
  margin: auto;
}

.app {
  display: flex;
  height: 100vh;
}

input,
textarea {
  border: none;
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.sidebar,
.settings-bar,
.settings-bar-closed {
  background-color: #f7f8f9;
  height: 100vh;
  flex: 0 0 300px;
  transition: margin 0.3s;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar,
.settings-bar::-webkit-scrollbar,
.settings-bar-closed::-webkit-scrollbar {
  width: 0;
}

.settings-bar-closed {
  margin: 0 -300px 0 0;
}

.sidebar-inner {
  padding: 20px 15px;
  position: relative;
}

.settings-bar-inner {
  padding: 30px;
}

.search-contact,
.search-contact-disabled {
  background-color: white;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 35px;
  box-shadow: 0 0 5px 0 #e7eaed;
  color: rgb(118, 118, 118);
  position: sticky;
  top: 10px;
  z-index: 1000;
}

.search-contact-disabled {
  background-color: #f7f7f7;
}

.search-contact input {
  height: 100%;
}

.search-contact-icon {
  font-size: 10px;
  color: rgb(118, 118, 118);
}

.chats-item,
.chats-item-opened {
  padding: 20px;
  margin: 3px;
  display: flex;
  background-color: #f7f8f9;
}

.chats-item:hover,
.chats-item-opened {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 #e7eaed;
}

.chats-item:active {
  box-shadow: 0 0 5px 0 #e7eaed;
}

.chats-item-opened {
  box-shadow: 0 0 5px 0 #e7eaed;
}

.avatar-size-medium,
.avatar-size-small,
.avatar-size-big,
.media-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  background: linear-gradient(#b3ebf8, #709ee8);
  text-align: center;
  line-height: 36px;
  box-shadow: 0 5px 5px 0 #e7eaed;
}

.avatar-size-small {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-right: 13px;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
}

.avatar-size-big {
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 70px;
  font-size: 23px;
}

.last-message, .username {
  font-size: 13px;
  font-weight: 300;
  color: #7a7b7b;
  display: flex;
  align-items: center;
}
.username {
  justify-content: center;
}

.last-message .material-icons {
  font-size: 16px!important;
}

.chat-item-center {
  padding: 0 7px;
  flex: 1;
}

.recent-chats-time {
  font-size: 12px;
  color: #7a7b7b;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30px;
}

.recent-chat-skeleton {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.recent-chat-skeleton-circles {
  flex: 0 50px;
  margin-right: 10px;
}

.recent-chat-skeleton-lines {
  flex: 1;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #e7eaed;
  align-items: center;
}

.chat-header button {
  color: #a4b5cc;
  padding: 0 6px;
  display: flex;
  align-items: center;
}

.chat-header button:hover {
  color: #8692a3;
}

.material-icons {
  font-size: 20px !important;
  margin: 0 !important;
}

.chat-header-name,
.update {
  display: flex;
  align-items: center;
}

.online-indicator-header,
.online-indicator-contact {
  background-color: #55c662;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
}

.online-indicator-contact {
  position: absolute;
  left: 55px;
  height: 6px;
  width: 6px;
  border: 1px solid #f7f8f9;
}

.chat-window {
  flex: 3;
  height: 100vh;
}

.chat-window-inner {
  padding: 0 40px;
  min-width: 270px;
}

.chat {
  overflow-y: scroll;
  height: calc(100vh - 50px - 66px);
  position: relative;
}

.chat::-webkit-scrollbar {
  width: 0;
}

.chat-inner {
  padding: 20px 0;
}

.message-search-closed,
.message-search-opened {
  position: absolute;
  top: 12px;
  left: 340px;
  width: 0;
  box-shadow: 0 0 5px 0 #e7eaed;
  transition: 0.5s;
  border-radius: 5px;
  padding: 4px 0;
}

.message-search-opened {
  width: 200px;
  padding: 4px 30px;
}

.message-search-button {
  position: absolute;
  top: 15px;
  z-index: 999;
}

.clear-button {
  position: absolute;
  top: 16px;
  left: 570px;
}

.clear-button:hover {
  color: #b5151a !important;
}

.clear-button .material-icons {
  font-size: 17px !important;
}

.info-message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.info-message-text {
  background-color: #f7f8f9;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
}

.outbox-message-outer,
.inbox-message-outer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.inbox-message-outer {
  justify-content: flex-start;
}

.outbox-message,
.inbox-message {
  min-width: 200px;
  color: white;
  background-color: #632df8;
  border-radius: 13px 13px 0 13px;
  padding: 10px 10px 4px;
  position: relative;
}

.inbox-message {
  background-color: #f1f5f9;
  color: black;
  border-radius: 13px 13px 13px 0;
}

.message-text {
  max-width: 300px;
  overflow-wrap: break-word;
}

.message-time {
  min-width: 150px;
  max-width: 350px;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: default;
}

.message-time .material-icons {
  font-size: 13px !important;
  margin-left: 2px !important;
}

.message-input {
  border-top: 1px solid #e7eaed;
  display: flex;
  align-items: center;
}

.read {
  color: #55c662;
}

.message-textarea {
  flex: 1;
  color: rgb(118, 118, 118);
}

.message-textarea textarea {
  width: 100%;
  height: 55px;
  resize: none;
  overflow: hidden;
  line-height: 55px;
  color: rgb(118, 118, 118);
}

.message-input button {
  padding: 0 15px;
  color: rgb(118, 118, 118);
}

.message-input .material-icons {
  font-size: 23px !important;
}

.contact-info {
  padding: 20px 35px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

.contact-info button {
  color: #a7b8ce;
  margin: 10px;
}

.social,
.media {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 #e7eaed;
  padding: 10px 20px;
  margin: 10px 0 40px 0;
}

.social-icon {
  color: #a7b8ce;
  width: 30px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.social-item {
  padding: 10px 10px 10px 0;
  display: flex;
  font-size: 14px;
  align-items: center;
}

.media {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 14px;
}

.media-avatar {
  border-radius: 5px;
  margin-right: 10px;
}


.contact-dropdown, .message-dropdown {
  z-index: 99;
  position: absolute;
  left: 210px;
  background-color: white;
  padding: 7px 0;
  box-shadow: 0 5px 5px 0 #e7eaed;
  text-align: left;
}

.message-dropdown {
  left: inherit;
  right: 0;
}

.dropdown-item {
  padding: 8px 15px;
  font-size: 17px;
  color: #7a7b7b;
  font-weight: 300;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.dots {
  color: #7a7b7b;
}

.dots .material-icons {
  font-size: 20px !important;
}

.dots:hover {
  color: #e7eaed;
}

.refresh {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.send-button-enter,
.mic-button-exit,
.dropdown-arrow-exit {
  opacity: 0;
  transform: scale(0);
}
.send-button-enter-active,
.mic-button-exit-active,
.dropdown-arrow-exit-active {
  opacity: 1;
  transform: scale(1);
}
.send-button-exit,
.mic-button-enter,
.dropdown-arrow-enter {
  opacity: 1;
  transform: scale(1);
}
.send-button-exit-active,
.mic-button-enter-active,
.dropdown-arrow-enter-active {
  opacity: 0;
  transform: scale(0);
}

.send-button-exit-active,
.send-button-enter-active,
.mic-button-enter-active,
.mic-button-exit-active,
.dropdown-arrow-enter-active,
.dropdown-arrow-exit-active {
  transition: opacity 300ms, transform 300ms;
}

.dropdown-arrow {
  height: 100%;
  color: inherit;
  position: absolute;
  background: linear-gradient(to left, white, transparent 100%);
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.dropdown-arrow .material-icons {
  font-size: 26px !important;
}
